<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605674048807-aq5i26lhodnm0tdpjr40m2e51qcmhbdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605674048807-aq5i26lhodnm0tdpjr40m2e51qcmhbdi</string>
	<key>API_KEY</key>
	<string>AIzaSyBIK-cnreDZ9a4AM2yjP9LCkaSsCVEQwJM</string>
	<key>GCM_SENDER_ID</key>
	<string>605674048807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hirerussians.testnotification</string>
	<key>PROJECT_ID</key>
	<string>demonotification-44a78</string>
	<key>STORAGE_BUCKET</key>
	<string>demonotification-44a78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605674048807:ios:eed87935388b4a47dead02</string>
</dict>
</plist>